In [2]:
import pandas as pd

In [3]:
cars=pd.read_csv('imports-85.data.txt', header=None, names=["symbolizing", "normalized_losses", "make", "fuel_type", "asipiration", "num_doors", "body_style", "drive_wheels", "engine_location", "wheel_base", "length", "width", "height", "curb_weight", "engine_type", "num_cylinders", "engine_size", "fuel_system","bore","stroke", "compression_ratio", "horsepower", "peak_rpm", "city_mpg", "highway_mpg", "price"])

In [4]:
print(cars.head())

   symbolizing normalized_losses         make fuel_type asipiration num_doors  \
0            3                 ?  alfa-romero       gas         std       two
1            3                 ?  alfa-romero       gas         std       two
2            1                 ?  alfa-romero       gas         std       two
3            2               164         audi       gas         std      four
4            2               164         audi       gas         std      four

    body_style drive_wheels engine_location  wheel_base  ...    engine_size  \
0  convertible          rwd           front        88.6  ...            130
1  convertible          rwd           front        88.6  ...            130
2    hatchback          rwd           front        94.5  ...            152
3        sedan          fwd           front        99.8  ...            109
4        sedan          4wd           front        99.4  ...            136

   fuel_system  bore  stroke compression_ratio horsepower  peak_rpm city_mpg  \
0         mpfi  3.47    2.68               9.0        111      5000       21
1         mpfi  3.47    2.68               9.0        111      5000       21
2         mpfi  2.68    3.47               9.0        154      5000       19
3         mpfi  3.19    3.40              10.0        102      5500       24
4         mpfi  3.19    3.40               8.0        115      5500       18

  highway_mpg  price
0          27  13495
1          27  16500
2          26  16500
3          30  13950
4          22  17450

[5 rows x 26 columns]

In [5]:
print(cars.shape)

(205, 26)

In [8]:
import numpy as np
cars=cars.replace(to_replace="?", value=np.nan)

In [9]:
print(cars.head())

   symbolizing normalized_losses         make fuel_type asipiration num_doors  \
0            3               NaN  alfa-romero       gas         std       two
1            3               NaN  alfa-romero       gas         std       two
2            1               NaN  alfa-romero       gas         std       two
3            2               164         audi       gas         std      four
4            2               164         audi       gas         std      four

    body_style drive_wheels engine_location  wheel_base  ...    engine_size  \
0  convertible          rwd           front        88.6  ...            130
1  convertible          rwd           front        88.6  ...            130
2    hatchback          rwd           front        94.5  ...            152
3        sedan          fwd           front        99.8  ...            109
4        sedan          4wd           front        99.4  ...            136

   fuel_system  bore  stroke compression_ratio horsepower  peak_rpm city_mpg  \
0         mpfi  3.47    2.68               9.0        111      5000       21
1         mpfi  3.47    2.68               9.0        111      5000       21
2         mpfi  2.68    3.47               9.0        154      5000       19
3         mpfi  3.19    3.40              10.0        102      5500       24
4         mpfi  3.19    3.40               8.0        115      5500       18

  highway_mpg  price
0          27  13495
1          27  16500
2          26  16500
3          30  13950
4          22  17450

[5 rows x 26 columns]

In [11]:
print(cars.dtype)

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [14]:
cars.dtypes
cars.head()

,symbolizing,normalized_losses,make,fuel_type,asipiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [20]:
cars.dtypes

dtype('float64')

In [17]:
cars=cars['normalized_losses'].astype(float)

In [19]:
cars.dtypes

dtype('float64')

In [21]:
cars=pd.read_csv('imports-85.data.txt', header=None, names=["symbolizing", "normalized_losses", "make", "fuel_type", "asipiration", "num_doors", "body_style", "drive_wheels", "engine_location", "wheel_base", "length", "width", "height", "curb_weight", "engine_type", "num_cylinders", "engine_size", "fuel_system","bore","stroke", "compression_ratio", "horsepower", "peak_rpm", "city_mpg", "highway_mpg", "price"])

In [22]:
cars.head()

,symbolizing,normalized_losses,make,fuel_type,asipiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [23]:
cars.dtype()

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [24]:
cars.dtypes

symbolizing            int64
normalized_losses     object
make                  object
fuel_type             object
asipiration           object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                  object
stroke                object
compression_ratio    float64
horsepower            object
peak_rpm              object
city_mpg               int64
highway_mpg            int64
price                 object
dtype: object

In [26]:
import numpy as np
cars=cars.replace(to_replace='?', value=np.nan)

In [27]:
cars.head()

,symbolizing,normalized_losses,make,fuel_type,asipiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [29]:
cars['normalized_losses']=cars.normalized_losses(dtype='float')

TypeError: 'Series' object is not callable

In [40]:
cars['normalized_losses']=pd.to_numeric(cars['normalized_losses'], errors='coerce')

#'bore', 'stroke', 'horsepower', 'peak_rpm', 'price'

In [41]:
cars['stroke']=pd.to_numeric(cars['stroke'], errors='coerce')

In [42]:
cars['horsepower']=pd.to_numeric(cars['horsepower'], errors='coerce')

In [43]:
cars['peak_rpm']=pd.to_numeric(cars['peak_rpm'], errors='coerce')

In [44]:
cars['price']=pd.to_numeric(cars['price'], errors='coerce')

In [45]:
cars.dtypes

symbolizing            int64
normalized_losses    float64
make                  object
fuel_type             object
asipiration           object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                  object
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [53]:
x=sum(cars['normalized_losses'].isnull())

In [52]:
print(x)

41

In [54]:
print(cars)

     symbolizing  normalized_losses         make fuel_type asipiration  \
0              3                NaN  alfa-romero       gas         std
1              3                NaN  alfa-romero       gas         std
2              1                NaN  alfa-romero       gas         std
3              2              164.0         audi       gas         std
4              2              164.0         audi       gas         std
5              2                NaN         audi       gas         std
6              1              158.0         audi       gas         std
7              1                NaN         audi       gas         std
8              1              158.0         audi       gas       turbo
9              0                NaN         audi       gas       turbo
10             2              192.0          bmw       gas         std
11             0              192.0          bmw       gas         std
12             0              188.0          bmw       gas         std
13             0              188.0          bmw       gas         std
14             1                NaN          bmw       gas         std
15             0                NaN          bmw       gas         std
16             0                NaN          bmw       gas         std
17             0                NaN          bmw       gas         std
18             2              121.0    chevrolet       gas         std
19             1               98.0    chevrolet       gas         std
20             0               81.0    chevrolet       gas         std
21             1              118.0        dodge       gas         std
22             1              118.0        dodge       gas         std
23             1              118.0        dodge       gas       turbo
24             1              148.0        dodge       gas         std
25             1              148.0        dodge       gas         std
26             1              148.0        dodge       gas         std
27             1              148.0        dodge       gas       turbo
28            -1              110.0        dodge       gas         std
29             3              145.0        dodge       gas       turbo
..           ...                ...          ...       ...         ...
175           -1               65.0       toyota       gas         std
176           -1               65.0       toyota       gas         std
177           -1               65.0       toyota       gas         std
178            3              197.0       toyota       gas         std
179            3              197.0       toyota       gas         std
180           -1               90.0       toyota       gas         std
181           -1                NaN       toyota       gas         std
182            2              122.0   volkswagen    diesel         std
183            2              122.0   volkswagen       gas         std
184            2               94.0   volkswagen    diesel         std
185            2               94.0   volkswagen       gas         std
186            2               94.0   volkswagen       gas         std
187            2               94.0   volkswagen    diesel       turbo
188            2               94.0   volkswagen       gas         std
189            3                NaN   volkswagen       gas         std
190            3              256.0   volkswagen       gas         std
191            0                NaN   volkswagen       gas         std
192            0                NaN   volkswagen    diesel       turbo
193            0                NaN   volkswagen       gas         std
194           -2              103.0        volvo       gas         std
195           -1               74.0        volvo       gas         std
196           -2              103.0        volvo       gas         std
197           -1               74.0        volvo       gas         std
198           -2              103.0        volvo       gas       turbo
199           -1               74.0        volvo       gas       turbo
200           -1               95.0        volvo       gas         std
201           -1               95.0        volvo       gas       turbo
202           -1               95.0        volvo       gas         std
203           -1               95.0        volvo    diesel       turbo
204           -1               95.0        volvo       gas       turbo

    num_doors   body_style drive_wheels engine_location  wheel_base   ...     \
0         two  convertible          rwd           front        88.6   ...
1         two  convertible          rwd           front        88.6   ...
2         two    hatchback          rwd           front        94.5   ...
3        four        sedan          fwd           front        99.8   ...
4        four        sedan          4wd           front        99.4   ...
5         two        sedan          fwd           front        99.8   ...
6        four        sedan          fwd           front       105.8   ...
7        four        wagon          fwd           front       105.8   ...
8        four        sedan          fwd           front       105.8   ...
9         two    hatchback          4wd           front        99.5   ...
10        two        sedan          rwd           front       101.2   ...
11       four        sedan          rwd           front       101.2   ...
12        two        sedan          rwd           front       101.2   ...
13       four        sedan          rwd           front       101.2   ...
14       four        sedan          rwd           front       103.5   ...
15       four        sedan          rwd           front       103.5   ...
16        two        sedan          rwd           front       103.5   ...
17       four        sedan          rwd           front       110.0   ...
18        two    hatchback          fwd           front        88.4   ...
19        two    hatchback          fwd           front        94.5   ...
20       four        sedan          fwd           front        94.5   ...
21        two    hatchback          fwd           front        93.7   ...
22        two    hatchback          fwd           front        93.7   ...
23        two    hatchback          fwd           front        93.7   ...
24       four    hatchback          fwd           front        93.7   ...
25       four        sedan          fwd           front        93.7   ...
26       four        sedan          fwd           front        93.7   ...
27        NaN        sedan          fwd           front        93.7   ...
28       four        wagon          fwd           front       103.3   ...
29        two    hatchback          fwd           front        95.9   ...
..        ...          ...          ...             ...         ...   ...
175      four    hatchback          fwd           front       102.4   ...
176      four        sedan          fwd           front       102.4   ...
177      four    hatchback          fwd           front       102.4   ...
178       two    hatchback          rwd           front       102.9   ...
179       two    hatchback          rwd           front       102.9   ...
180      four        sedan          rwd           front       104.5   ...
181      four        wagon          rwd           front       104.5   ...
182       two        sedan          fwd           front        97.3   ...
183       two        sedan          fwd           front        97.3   ...
184      four        sedan          fwd           front        97.3   ...
185      four        sedan          fwd           front        97.3   ...
186      four        sedan          fwd           front        97.3   ...
187      four        sedan          fwd           front        97.3   ...
188      four        sedan          fwd           front        97.3   ...
189       two  convertible          fwd           front        94.5   ...
190       two    hatchback          fwd           front        94.5   ...
191      four        sedan          fwd           front       100.4   ...
192      four        sedan          fwd           front       100.4   ...
193      four        wagon          fwd           front       100.4   ...
194      four        sedan          rwd           front       104.3   ...
195      four        wagon          rwd           front       104.3   ...
196      four        sedan          rwd           front       104.3   ...
197      four        wagon          rwd           front       104.3   ...
198      four        sedan          rwd           front       104.3   ...
199      four        wagon          rwd           front       104.3   ...
200      four        sedan          rwd           front       109.1   ...
201      four        sedan          rwd           front       109.1   ...
202      four        sedan          rwd           front       109.1   ...
203      four        sedan          rwd           front       109.1   ...
204      four        sedan          rwd           front       109.1   ...

     engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
0            130         mpfi  3.47    2.68              9.00      111.0
1            130         mpfi  3.47    2.68              9.00      111.0
2            152         mpfi  2.68    3.47              9.00      154.0
3            109         mpfi  3.19    3.40             10.00      102.0
4            136         mpfi  3.19    3.40              8.00      115.0
5            136         mpfi  3.19    3.40              8.50      110.0
6            136         mpfi  3.19    3.40              8.50      110.0
7            136         mpfi  3.19    3.40              8.50      110.0
8            131         mpfi  3.13    3.40              8.30      140.0
9            131         mpfi  3.13    3.40              7.00      160.0
10           108         mpfi  3.50    2.80              8.80      101.0
11           108         mpfi  3.50    2.80              8.80      101.0
12           164         mpfi  3.31    3.19              9.00      121.0
13           164         mpfi  3.31    3.19              9.00      121.0
14           164         mpfi  3.31    3.19              9.00      121.0
15           209         mpfi  3.62    3.39              8.00      182.0
16           209         mpfi  3.62    3.39              8.00      182.0
17           209         mpfi  3.62    3.39              8.00      182.0
18            61         2bbl  2.91    3.03              9.50       48.0
19            90         2bbl  3.03    3.11              9.60       70.0
20            90         2bbl  3.03    3.11              9.60       70.0
21            90         2bbl  2.97    3.23              9.41       68.0
22            90         2bbl  2.97    3.23              9.40       68.0
23            98         mpfi  3.03    3.39              7.60      102.0
24            90         2bbl  2.97    3.23              9.40       68.0
25            90         2bbl  2.97    3.23              9.40       68.0
26            90         2bbl  2.97    3.23              9.40       68.0
27            98         mpfi  3.03    3.39              7.60      102.0
28           122         2bbl  3.34    3.46              8.50       88.0
29           156          mfi  3.60    3.90              7.00      145.0
..           ...          ...   ...     ...               ...        ...
175          122         mpfi  3.31    3.54              8.70       92.0
176          122         mpfi  3.31    3.54              8.70       92.0
177          122         mpfi  3.31    3.54              8.70       92.0
178          171         mpfi  3.27    3.35              9.30      161.0
179          171         mpfi  3.27    3.35              9.30      161.0
180          171         mpfi  3.27    3.35              9.20      156.0
181          161         mpfi  3.27    3.35              9.20      156.0
182           97          idi  3.01    3.40             23.00       52.0
183          109         mpfi  3.19    3.40              9.00       85.0
184           97          idi  3.01    3.40             23.00       52.0
185          109         mpfi  3.19    3.40              9.00       85.0
186          109         mpfi  3.19    3.40              9.00       85.0
187           97          idi  3.01    3.40             23.00       68.0
188          109         mpfi  3.19    3.40             10.00      100.0
189          109         mpfi  3.19    3.40              8.50       90.0
190          109         mpfi  3.19    3.40              8.50       90.0
191          136         mpfi  3.19    3.40              8.50      110.0
192           97          idi  3.01    3.40             23.00       68.0
193          109         mpfi  3.19    3.40              9.00       88.0
194          141         mpfi  3.78    3.15              9.50      114.0
195          141         mpfi  3.78    3.15              9.50      114.0
196          141         mpfi  3.78    3.15              9.50      114.0
197          141         mpfi  3.78    3.15              9.50      114.0
198          130         mpfi  3.62    3.15              7.50      162.0
199          130         mpfi  3.62    3.15              7.50      162.0
200          141         mpfi  3.78    3.15              9.50      114.0
201          141         mpfi  3.78    3.15              8.70      160.0
202          173         mpfi  3.58    2.87              8.80      134.0
203          145          idi  3.01    3.40             23.00      106.0
204          141         mpfi  3.78    3.15              9.50      114.0

     peak_rpm city_mpg highway_mpg    price
0      5000.0       21          27  13495.0
1      5000.0       21          27  16500.0
2      5000.0       19          26  16500.0
3      5500.0       24          30  13950.0
4      5500.0       18          22  17450.0
5      5500.0       19          25  15250.0
6      5500.0       19          25  17710.0
7      5500.0       19          25  18920.0
8      5500.0       17          20  23875.0
9      5500.0       16          22      NaN
10     5800.0       23          29  16430.0
11     5800.0       23          29  16925.0
12     4250.0       21          28  20970.0
13     4250.0       21          28  21105.0
14     4250.0       20          25  24565.0
15     5400.0       16          22  30760.0
16     5400.0       16          22  41315.0
17     5400.0       15          20  36880.0
18     5100.0       47          53   5151.0
19     5400.0       38          43   6295.0
20     5400.0       38          43   6575.0
21     5500.0       37          41   5572.0
22     5500.0       31          38   6377.0
23     5500.0       24          30   7957.0
24     5500.0       31          38   6229.0
25     5500.0       31          38   6692.0
26     5500.0       31          38   7609.0
27     5500.0       24          30   8558.0
28     5000.0       24          30   8921.0
29     5000.0       19          24  12964.0
..        ...      ...         ...      ...
175    4200.0       27          32   9988.0
176    4200.0       27          32  10898.0
177    4200.0       27          32  11248.0
178    5200.0       20          24  16558.0
179    5200.0       19          24  15998.0
180    5200.0       20          24  15690.0
181    5200.0       19          24  15750.0
182    4800.0       37          46   7775.0
183    5250.0       27          34   7975.0
184    4800.0       37          46   7995.0
185    5250.0       27          34   8195.0
186    5250.0       27          34   8495.0
187    4500.0       37          42   9495.0
188    5500.0       26          32   9995.0
189    5500.0       24          29  11595.0
190    5500.0       24          29   9980.0
191    5500.0       19          24  13295.0
192    4500.0       33          38  13845.0
193    5500.0       25          31  12290.0
194    5400.0       23          28  12940.0
195    5400.0       23          28  13415.0
196    5400.0       24          28  15985.0
197    5400.0       24          28  16515.0
198    5100.0       17          22  18420.0
199    5100.0       17          22  18950.0
200    5400.0       23          28  16845.0
201    5300.0       19          25  19045.0
202    5500.0       18          23  21485.0
203    4800.0       26          27  22470.0
204    5400.0       19          25  22625.0

[205 rows x 26 columns]

In [56]:
x=sum(cars.isnull(for dtype='float'))
print(x)

SyntaxError: invalid syntax (<ipython-input-56-fc46edb0aedb>, line 1)

In [57]:
cars.dtypes()

TypeError: 'Series' object is not callable

In [58]:
cars.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [59]:
cars.dtypes

symbolizing            int64
normalized_losses    float64
make                  object
fuel_type             object
asipiration           object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                  object
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [60]:
num_cols=['symbolizing', 'wheel_base','length', 'width', 'height', 'curb_weight', 'engine_size', 'stroke', 'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg', 'highway_mpg', 'price']
null_counts={}
for x in num_cols:
    y=sum(cars[x].isnull())
    null_counts[x]=y

In [61]:
print(null_counts)

{'symbolizing': 0, 'wheel_base': 0, 'length': 0, 'width': 0, 'height': 0, 'curb_weight': 0, 'engine_size': 0, 'stroke': 4, 'compression_ratio': 0, 'horsepower': 2, 'peak_rpm': 2, 'city_mpg': 0, 'highway_mpg': 0, 'price': 4}

In [62]:
cars=cars.dropna(axis=0)

In [63]:
cars.shape

(159, 26)

In [64]:
cars_wk=cars.copy()

In [65]:
cars_wk.head()

,symbolizing,normalized_losses,make,fuel_type,asipiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115.0,5500.0,18,22,17450.0
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110.0,5500.0,19,25,17710.0
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140.0,5500.0,17,20,23875.0
10,2,192.0,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.8,8.8,101.0,5800.0,23,29,16430.0

In [66]:
cars_norm=(cars_wk-cars_wk.mean())/cars_wk.std()

ValueError: operands could not be broadcast together with shapes (1749,) (11,)

In [68]:
cars_norm=cars_wk._get_numeric_data()

In [69]:
cars_norm.head()

,symbolizing,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.4,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.4,8.0,115.0,5500.0,18,22,17450.0
6,1,158.0,105.8,192.7,71.4,55.7,2844,136,3.4,8.5,110.0,5500.0,19,25,17710.0
8,1,158.0,105.8,192.7,71.4,55.9,3086,131,3.4,8.3,140.0,5500.0,17,20,23875.0
10,2,192.0,101.2,176.8,64.8,54.3,2395,108,2.8,8.8,101.0,5800.0,23,29,16430.0

In [70]:
cars_wk.head()

,symbolizing,normalized_losses,make,fuel_type,asipiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115.0,5500.0,18,22,17450.0
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110.0,5500.0,19,25,17710.0
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140.0,5500.0,17,20,23875.0
10,2,192.0,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.8,8.8,101.0,5800.0,23,29,16430.0

In [75]:
num_cols=['symbolizing', 'wheel_base','length', 'width', 'height', 'curb_weight', 'engine_size', 'stroke', 'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg', 'highway_mpg', 'price']
for i in num_cols:
    cars_wk[i]=cars_wk[i].apply(lambda x: (cars_wk[i]-np.mean(cars_wk[i]))/(np.std(cars_wk)))

C:\Users\Acer\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:3755: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)